* {margin: 0; padding: 0;}

li {list-style: none;}

a {
  color: #222;
  text-decoration: none;
}

body,
html {
  width: 100%;
  background-color: #f8f8f8;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@300;400;500;600;700&display=swap');

.kor {font-family: 'Noto Sans KR', sans-serif;}
.eng {font-family: 'Poppins', sans-serif;}


/* --------------- popUp ---------------  */
.popBg{
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
}

.popBox{
  width: 400px; height: 200px;
  background-color: #f8f8f8;
  border-radius: 10px;
  z-index: 999;
  position: absolute;
  top: calc(50% - 200px); left: calc(50% - 200px);
  text-align: center;
  display: none;
}

.popBox i{
  font-size: 22px;
  color: #A66CFF;
  text-align: center;
  padding: 10px;
  margin-top: 28px;
}

.successBox i{
  margin-top: 13px;
}

.popBox p{
  color: #333;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.successBox p{
  margin-bottom: 5px;
}

.popBox .foundId{
  border: none;
  font-weight: bold;
  text-align: center;
  background-color: #f8f8f8;
  padding: 2px 0 8px;
}

.popBox button{
  width: 70px; height: 35px;
  border: none;
  background-color: #191919;
  border-radius: 5px;
  margin-top: 17px;
  cursor: pointer;
}

.successBox button{
  margin-top: 10px;
}

.popBox button:hover{
  background-color: #A66CFF;
}

.popBox button span{
  color: #fff;
  font-size: 13px;
  line-height: 37px;
  font-weight: bold;
}


/* --------------- find_id ---------------  */
.wrap{
  width: 400px; height: auto;
  margin: 0 auto;
}

.find_id{
  font-size: 15px;
  margin: 190px auto 20px;
}

.user_name,
.user_tel{
  width: 400px; height: 45px;
  padding: 10px 15px; box-sizing: border-box;
  margin: 5px auto 15px;
  font-size: 14px;
}

input::placeholder{font-size: 12px;}

.findId li label{
  font-size: 14px;
}

.findId_btn{
  width: 400px; height: 50px;
  background-color: #e2e2e2;
  border: none;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 1px;
  margin: 5px auto 12px;
  cursor: pointer;
}

.findId_btn:hover{
  background-color: #A66CFF;
  color: #fff;
}

.other_btn ul{
  display: flex;
}

.other_btn ul li{
  width: 200px; height: 45px;
  background-color: #3d3d3d;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
}

.other_btn ul li:hover{
  background-color: #A66CFF;
}

.other_btn ul li:nth-child(1) {
  margin-right: 10px;
}

.other_btn ul li a{
  color: #fff;
  font-size: 13px;
}

.bottom_line_01{
  width: 100%; height: 40px;
  background-color: #3d3d3d;
  position: fixed;
  bottom: 0; left: 0;
}
